.platform-filter form {
    display: flex;
    flex-direction: column;
}

.platform-filter label {
    padding: 0.2rem 0;
    cursor: pointer;
}

.platform-filter p {
    margin-top: 0;
    font-weight: bold;
}