.sorting {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sorting p {
    color: #666;
}

.sorting label {
    display: flex;
    padding: 0.2rem 0;
}

.sorting label:hover {
    cursor: pointer;
    color: #666;
}

.sorting label:has([type=radio]:focus-visible) {
    border: 2px solid rgb(51, 51, 179);
}

.sorting label:has([type='radio']:checked) {
    font-weight: bold;
}

.sorting label:has([type='radio']:checked):hover {
    color: inherit;
}

.sorting p {
    font-weight: bold;
}