#root {
  width: 1280px;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  gap: 4rem;
}

.data {
  flex-grow: 1;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 200px;
}